.button_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.button_back_1, .button_back_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button_title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.button_back_1 {
    background: linear-gradient(70deg, #8551FF, #4753FF);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 999;
}

.button_back_2 {
    background: linear-gradient(70deg, #4753FF, #8551FF);
    z-index: 998;
}

.button_wrapper:hover .button_back_1 {
    opacity: 1;
}