.chatInvite_wrapper {
    position: absolute;
    z-index: 2998;
    left: 5px;
    height: calc(100vh - 95px);
    width: 100%;
    padding: 0 20px;
    background: rgba(38, 40, 46, 0.8);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    overflow: hidden;
    transition: top 0.5s ease-in-out;
}

.chatInvite_button_wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.chatInvite_button {
    min-width: 300px;
    width: 40%;
    padding: 10px;
}

@media(max-width: 800px) {
    .chatInvite_wrapper {
        margin: 0;
        height: calc(100vh - 90px);
    }
}