.chatMenu_wrapper {
    position: absolute;
    z-index: 2000;
    top: 80px;
    height: calc(100vh - 95px);
    width: 100%;
    background: rgba(38, 40, 46, 0.8);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    transition: left 0.6s ease-in-out;
    overflow: hidden;
}

.chatMenu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
}

.chatMenu_header_items {
    display: flex;
    height: inherit;
}

.chatMenu_header_item {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 5px;
}

.chatMenu_header_item:hover {
    cursor: pointer;
    border-bottom: 3px solid #8551FF;
}

.chatMenu_header_button {
    height: inherit;
    padding: 10px;
}

.chatMenu_header_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.chatMenu_items {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    height: calc(100% - 70px);
    width: 400%;
    padding: 20px;
    transition: left 0.8s ease-in-out;
}

@media(max-width: 800px) {
    .chatMenu_wrapper {
        top: 80px;
        width: 100vw;
        height: calc(100vh - 90px);
    }

    .chatMenu_header_item {
        background-size: 100% 100%;
        width: 50px;
        height: 50px;
        font-size: 0px;
        margin: 0 5px;
    }

    .chatMenu_header_items {
        align-items: flex-end;
    }

    .picture {background-image: url('../../public/images/picture.png');}
    .video {background-image: url('../../public/images/video.png');}
    .file {background-image: url('../../public/images/file.png');}
    .member {background-image: url('../../public/images/friend.png');}
}