.comments_wrapper {
    display: grid;
    gap: 10px;
    width: 100%;
    max-height: 100vh;
    padding: 20px;
    overflow-y: scroll;
}

.newComment_wrapper {
    background: #353941;
}

.comments_noComments {
    color: #949AAF;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.comment_wrapper {
    width: 100%;
    background: #353941;
    border-radius: 20px;
}

.comment_header {
    display: flex;
    padding: 0 5px;
    width: 100%;
}

.comment_header_userdata {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment_header_avatar {
    height: 40px;
    border-radius: 50%;
    padding: 4px;
}

.comment_header_username {
    font-size: 20px;
}

.comment_header_created {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: #949AAF;
    font-size: 18px;
    padding: 0 5px;
}

.comment_text {
    padding: 10px;
    overflow-wrap: anywhere;
}

.comment_image {
    padding: 10px;
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.comment_video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 200px;
    padding: 10px;
}

.comment_video > video {
    height: 100%;
}

.comment_video > img {
    position: absolute;
}

.comment_file {
    display: flex;
    align-items: center;
    color: #95a3df;
    padding: 10px;
}

.comment_file > img {
    height: 40px;
    padding-right: 10px;
}

.comment_image:hover, .comment_video:hover {
    cursor: pointer;
    opacity: 0.8;
}

.comment_wrapper:hover .comment_creator {
    display: flex;
}

.comment_creator {
    display: none;
    height: inherit;
    align-items: center;
}

.comment_creator > img {
    height: 30px;
}

.comment_creator > img:hover {
    cursor: pointer;
    opacity: 0.8;
}