.error_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 2000;
}

.error_block {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background: #25282E;
    border-radius: 20px;
    padding: 20px;
}