.form_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 600px;
    height: 600px;
    display: grid;
    align-content: center;
    padding: 0 100px;
    gap: 20px;
    border-radius: 20px;
    background: rgba(38, 40, 46, 0.6);
    backdrop-filter: blur(30px);
}

.form_title {
    justify-self: center;
}

.form_switch {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.form_switch_link {
    margin-left: 10px;
    font-size: 20px;
}

.form_switch_link:hover {
    cursor: pointer;
    color: #8551FF;
}

@media(max-width: 800px) {
    .form {
        padding: 0 15px;
        background: none;
    }
}