.friends_wrapper {
    position: relative;
    padding: 0 20px;
    overflow: hidden;
}

.friends_separator {
    display: flex;
    justify-self: start;
    align-items: center;
    width: max-content;
    height: 30px;
    margin: 20px 0;
    font-size: 20px;
    color: #949AAF;
    cursor: pointer;
}

.friends_separator > img {
    height: inherit;
}

.friends_navigate_wrapper {
    display: flex;
    width: 100%;
    padding: 20px 0 10px 0;
}

.friends_navigate_item {
    padding: 0 8px 8px 8px;
}

.friends_navigate_item:hover {
    cursor: pointer;
    border-bottom: 3px solid #8551FF;
}

@media(max-width: 800px) {
    .friends_wrapper {
        width: 100vw;
        margin: 0;
        padding: 0;
        display: block;
    }

    .friends_navigate_wrapper {
        width: 100%;
    }

    .friends_navigate_item {
        display: flex;
        align-items: center;
    }
}