.fullscreenImage_wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1002;
}

.fullscreenImage_next, .fullscreenImage_previous {
    cursor: pointer;
}

.fullscreenImage_image {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 20px;
    background: #25282E;
    box-shadow: 0 0 20px 0 rgba(45, 39, 34, 0.8);
}