.fullscreenImage_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6500;
}

.fullscreenImage_next:hover, .fullscreenImage_previous:hover, .fullscreenImage_close:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.fullscreenImage_image {
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 20px;
    background: #1a1c20;
}

.fullscreenImage_close {
    position: absolute;
    right: 0;
    top: 0;
}

@media(max-width: 800px) {
    .fullscreenImage_close, .fullscreenImage_previous, .fullscreenImage_next {
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .fullscreenImage_previous {
        left: 0;
    }

    .fullscreenImage_next {
        right: 0;
    }

    .fullscreenImage_image {
        width: 100%;
        height: 100%;
    }
}