.messages_wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: calc(100% - 80px);
    padding: 100px 5% 0 5%;
    overflow-y: scroll;
}

.message_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.message {
    display: grid;
    min-width: 150px;
    max-width: 80%;
    padding: 10px 20px;
    background: #25282E;
    border-radius: 20px;
    overflow-wrap: anywhere;
}

.myMessage {
    flex-direction: row-reverse;
}

.message_menu {
    display: none;
    height: 40px;
}

.message_wrapper:hover .message_menu {
    display: block;
}

.message_menu > img {
    height: 100%;
}

.message_menu > img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.message_created, .message_created > * {
    font-size: 14px;
    margin-top: 5px;
    text-align: end;
    color: #949AAF;
}
.messages_noMessages {
    align-self: center;
    font-style: italic;
    color: #949AAF;
}

.message_image, .message_video > video {
    width: 100%;
    padding-bottom: 5px;
}

.message_image:hover {
    cursor: pointer;
    opacity: 0.8;
}

.message_video {
    position: relative;
    display: grid;
}

.message_video > img {
    position: absolute;
    justify-self: center;
    align-self: center;
    opacity: 0.9;
    z-index: 1000;
}

.message_video:hover {
    cursor: pointer;
    opacity: 0.8;
}

.message_file {
    display: flex;
    align-items: center;
    color: #95a3df;
}

.message_file > img {
    height: 40px;
    padding-right: 10px;
}

.message_date {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949AAF;
}

.messageDate {
    padding-top: 50px;
}

.message_username {
    padding-bottom: 10px;
    font-size: 20px;
    color: #949AAF;
}

@media(max-width: 800px) {
    .messages_wrapper {
        height: calc(100vh - 160px);
    }
}