.notFound_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 60px;
    font-size: 40px;
    font-style: italic;
    background: linear-gradient(40deg, #2D2722, #191C24);
    z-index: 4000;
}

.notFound_button {
    width: 30%;
}