.photolist_photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 80px 20px;
}

.photolist_photo_wrapper {
    position: relative;
    width: 300px;
    height: 100%;
    max-height: 400px;
    padding: 10px;
    border-radius: 20px;
    background: #26282E;
}

.photolist_photo_wrapper:hover {
    cursor: pointer;
    opacity: 0.8;
}

.photolist_photo, .photolist_photo > video {
    display: grid;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photolist_photo_delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 1000;
}

.photolist_photo_wrapper:hover .photolist_photo_delete {
    opacity: 1;
}

.photolist_photo_delete:hover {
    transform: scale(1.05);
}

.photolist_play {
    position: absolute;
    justify-self: center;
    align-self: center;
    opacity: 0.9;
    z-index: 2000;
}