.post_wrapper {
    width: 100%;
    background: #25282E;
    border-radius: 20px;
    overflow: hidden;
}

.post_wrapper:hover .post_header_creator {
    display: flex;
}

.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    background: #353941;
}

.post_header_creatorLink {
    display: flex;
    align-items: center;
    gap: 10px;
    height: inherit;
}

.post_header_avatar {
    height: 80%;
    border-radius: 50%;
}

.post_header_name {
    font-size: 18px;
}

.post_header_created {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 18px;
    color: #949AAF;
}

.post_header_creator {
    display: none;
    align-items: center;
    padding: 0 5px;
}

.post_header_creator > img {
    height: 35px;
}

.post_header_creator > img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post_files {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px;
}

.post_files_button {
    position: absolute;
    height: 60px;
}

.post_files_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post_previous {
    left: 10px;
}

.post_next {
    right: 10px;
}

.post_image {
    height: 300px;
    object-fit: contain;
}

.post_video_div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.post_video_div > img {
    position: absolute;
}

.post_video {
    height: inherit;
}

.post_image:hover, .post_video_div:hover {
    cursor: pointer;
    opacity: 0.9;
}

.post_text {
    margin: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post_text_showAll {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
    color: #8551FF;
}

.post_text_showAll > img {
    height: 30px;
}

.post_text_showAll:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post_footer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    background: #353941;
    padding: 0 10px;
}

.post_footer_button_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_footer_like, .post_footer_liked, .post_footer_comments {
    width: 40px;
    height: 40px;
    background-size: contain;
    cursor: pointer;
}

.post_footer_like, .post_footer_liked:hover {
    background-image: url('../../public/images/whiteLike.png');
}

.post_footer_like:hover, .post_footer_liked {
    background-image: url('../../public/images/redLike.png');
}

.post_footer_like:active, .post_footer_liked:active {
    transform: scale(0.9);
}

.post_footer_comments {
    background-image: url('../../public/images/comments.png');
}

.post_footer_comments:hover {
    opacity: 0.8;
}

@media(max-width: 800px) {
    .post_next {
        right: 0;
    }

    .post_previous {
        left: 0;
    }
}