.profile_userdata {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile_avatar {
    height: inherit;
    padding: 20px;
    border-radius: 50%;
}

.profile_userdata_info {
    display: grid;
    align-content: center;
    gap: 10px;
}

.profile_userdata_username, .profile_userdata_birthday {
    font-size: 32px;
}

.profile_userdata_buttons {
    display: grid;
    align-content: center;
    gap: 20px;
}

.profile_albums_wrapper {
    display: grid;
    position: relative;
    width: 100%;
}

.profile_albums_title {
    display: flex;
    height: 30px;
    color: #949AAF;
}

.profile_albums_addAlbumButton {
    margin: 0 10px;
}

.profile_albums_addAlbumButton:hover, .profile_addPost:hover {
    cursor: pointer;
    opacity: .8;
}

.profile_albums_addAlbum {
    display: grid;
    gap: 20px;
    width: 100%;
    padding: 10px 40px;
}

.profile_posts_title {
    display: flex;
    margin: 10px 0;
    height: 30px;
    color: #949AAF;
}

.profile_addPost {
    height: inherit;
    margin: 0 10px;
}

@media(max-width: 800px) {
    .profile_userdata {
        display: grid;
        grid-template-columns: none;
        gap: 20px;
        height: auto;
        width: 100vw;
        padding: 0 20px 20px 20px;
    }

    .profile_avatar {
        width: 60%;
        padding: 0;
        justify-self: center;
    }

    .profile_albums_addAlbum {
        padding: 10px;
    }

    .profile_albums_wrapper {
        padding: 0;
    }

    .profile_albums_title {
        padding: 0 20px;
    }

    .profile_posts_title {
        margin: 10px;
    }
}