.search_wrapper {
    display: flex;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1000;
}

.search_wrapper > img {
    padding: 12px;
    margin: 0 5px;
}

.search_wrapper > input {
    background: inherit;
    width: 100%;
    margin-right: 20px;
}