.sidemenu_wrapper {
    position: absolute;
    top: 0;
    width: 22.9vw;
    height: 100vh;
    padding-top: 70px;
    background: #26282E;
    box-shadow: 0 0 20px 0 rgba(45, 39, 34, 0.8);
}

.rightmenu {transition: right 0.5s ease-in-out;}
.leftmenu {transition: left 0.5s ease-in-out;}

.sidemenu_image {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    padding: 10px;
}

.sidemenu_image:hover {
    cursor: pointer;
    opacity: .8;
}

.sidemenu_userdata {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: inherit;
    height: 70px;
}

.sidemenu_userdata:hover {
    cursor: pointer;
    opacity: .8;
}

.sidemenu_userdata_avatar {
    padding: 10px;
    border-radius: 50%;
}

.sidemenu_userdata_username {
    display: flex;
    align-items: center;
}

.sidemenu_items {
    display: grid;
}

.sidemenu_item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidemenu_item:hover {
    cursor: pointer;
    background: #353941;
}

.sidemenu_item_title {
    margin-left: 40px;
}

.sidemenu_item_avatar {
    position: relative;
    height: 100%;
}

.sidemenu_item_avatar > img {
    height: 100%;
    padding: 8px;
    border-radius: 50%;
}

.sidemenu_item_avatar_status {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
}

.sidemenu_item_name {
    margin-left: 10px;
}